@model EZPZPOS.Models.MenuItemModels.MenuItemDetail

@{
    ViewBag.Title = "Menu Item Details";
}

<h2 style="text-align: center; font-weight: bolder; color: white;">Menu Item Detail</h2>

<div>
    @*<h4>MenuItemDetail</h4>*@
    <hr />
    <dl class="dl-horizontal" style="font-weight: bolder; color: white;">
        <dt>
            @Html.DisplayNameFor(model => model.MenuItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServingsInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServingsInStock)
        </dd>


    </dl>
</div>
<p class="my-actionLink" style="color: white;">
    @Html.ActionLink("Edit Menu Item", "Edit", new { id = Model.MenuItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
